body{
	height:1220px;
}
#myvideo {
	margin-top:10px;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.back{
	height:100%;
	width:100%;
}
.sidebar{
	position:absolute;
    top:0;
    background: rgba(0, 0, 0, 0.5);
   width:100%;
    padding: 40px;
}
nav{
	font-size:1.5em;
	text-align:center;
	cursor:pointer;
}
#z{
	float:left;

}
#a{
	margin:20px;
	padding:20px;
	color:white;
	text-decoration: none;
}
#a:hover{
text-shadow:2px 2px 8px black, 0 0 25px lightblue,  0 0 5px darkblue;
}
#b{
	margin:20px;
	padding:20px;
	color:white;
	text-decoration: none;
}
#b:hover{
text-shadow:2px 2px 3px black, 0 0 25px lightblue,  0 0 5px darkblue;
}
#c{
	margin:20px;
	padding:20px;
	color:white;
	text-decoration: none;
}
#c:hover{
text-shadow:2px 2px 3px black, 0 0 25px lightblue,  0 0 5px darkblue;
}
#d{
	margin:20px;
	padding:20px;
	color:white;
    text-decoration: none;
}
#d:hover{
text-shadow:2px 2px 3px black, 0 0 25px lightblue,  0 0 5px darkblue;

}
#e{
	margin:20px;
	padding:20px;
	color:white;
		text-decoration: none;
}
#e:hover{
text-shadow:2px 2px 3px black, 0 0 25px lightblue,  0 0 5px darkblue;
}
.menu-1{
	left:40px;
	position:absolute;
	height:250px;
	width:95%;
	margin-top:200px;
	background-color:#e6e6e6;
}
.menu-2{
	left:40px;
	position:absolute;
	height:250px;
	width:95%;
	margin-top:520px;
	background-color:#e6e6e6;
	
}
.menu-3{
	left:40px;
	position:absolute;
	height:250px;
	width:95%;
	margin-top:820px;
	background-color:#e6e6e6;
}
.cobra {
    position: fixed;
    bottom: 0;
    width: 100%;
	text-align:right;
	right:0;
	background: rgba(0, 0, 0, 0.5);
    padding:1px;
}
}
#f{
	margin:10px;
	padding:10px;
}

#g{
		margin:10px;
	padding:10px;
}

#h{
		margin:10px;
	padding:10px;
}

#imgfb{
	height:40px;
    width:40px;	
}

#imgmn{
	height:250px;
	width:350px;
	float:right;
}
#imgmn2{
	height:250px;
	width:350px;
	float:right;
}
<!-- menu bars -->
#hm1{
	margin-left:50%;
	font-size:1.5em;
	font-style:bold;
	color:#cc5200;
}
#m1{
	position:absolute;
	text-align:center;
	font-style:bold;
	color:#cc5200;
	font-size:1.2em;
	float:left;
	margin-left:60px;
}
#hm2{
	text-align:center;
	font-size:1.5em;
	font-style:bold;
	color:#cc5200;
}
#m2{
	position:absolute;
	text-align:center;
	font-style:bold;
	color:#cc5200;
	font-size:1.5em;
	float:left;
	margin-left:100px;
}
#hm3{
	text-align:center;
	font-size:1.5em;
	font-style:bold;
	color:#cc5200;
}
#m3{
	position:absolute;
	text-align:center;
	font-style:bold;
	color:#cc5200;
	font-size:1.5em;
	float:left;
	left:60px;
}


